.centralized {
    text-align: center;
}

ul#summary {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer {
    bottom:0; 
    width: 100%;
}

.important-word {
    font-weight: bold;
    color: blueviolet;
}

hr {
    width: 50%;
}

.centralized-list-div {
    width: 50%;
    margin: auto;
}

.centralized-list {
    list-style-position: inside;
    padding-left: 0;
}